<form class="product-form" action="add-product" method="POST">
  <div class="form-control">
    <label for="product-name">
      ☕ Nombre de producto
    </label>
    <input type="text" name="name" id="product-name" />
    <button type="submit">
      Agregar producto
    </button>
  </div>
</form>