<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css">
    <title>Document</title>
  </head>
  <body>
    <!-- Encabezado de la pagina -->
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item">
            <a class="active" href="/">🛒 Tienda</a>
          </li>
          <li class="main-header__item">
            <a href="/admin/add-product">➕ Agregar producto</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- Sección principal de la página -->
    <main>
      <h1>🎅 Mis Productos 🎅</h1>
      <ul>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
      </ul>
    </main>
  </body>
</html>
