<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Encabezado de la pagina -->
    <header>
      <nav>
        <ul>
          <li><a href="/">Tienda 🛒</a></li>
          <li><a href="/add-product">➕ Agregar producto</a></li>
        </ul>
      </nav>
    </header>
    <!-- Sección principal de la página -->
    <main>
      <h1>🎅 Mis Productos 🎅</h1>
      <ul>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
        <li>Lista de productos</li>
      </ul>
    </main>
  </body>
</html>
